<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
           * {
            padding: 0px;
            margin: 0px;
        }

        nav {
            width: 100vw;
            background: lightcoral;
            height: 50px;
        }
    </style>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="newUser">Product Infos</a></li>
        </ul>
    </nav>
</body>
</html>